/************************************************
/* RESET MEYER
************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************************
/* FIN RESET MEYER
************************************************/

@font-face {
    font-family: 'ComfortaaThin';
    src: url('../fonts/Comfortaa_Thin-webfont.eot');
    src: url('../fonts/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Thin-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Thin-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaRegular';
    src: url('../fonts/Comfortaa_Regular-webfont.eot');
    src: url('../fonts/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Regular-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fonts/Comfortaa_Bold-webfont.eot');
    src: url('../fonts/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'),
         url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RochesterRegular';
    src: url('../fonts/Rochester-Regular-webfont.eot');
    src: url('../fonts/Rochester-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rochester-Regular-webfont.woff') format('woff'),
         url('../fonts/Rochester-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Rochester-Regular-webfont.svg#RochesterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@vertFonce: #12320c;
@beige: #ecf5e3;
@vert: #68913a;
@vertClair: #88AA5C;

@comfortaaT: 'ComfortaaThin';
@comfortaaR: 'ComfortaaRegular';
@comfortaaB: 'ComfortaaBold';
@rochester: 'RochesterRegular';

/*----------------GENERAL---------------*/
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: @vert;
	&:hover {
		color: @vertFonce;
	}
}

.outliner {
	display: none;
}

.centrer {
	width: 64em;
	margin: auto;
}

.lien {
	color: @vert;
	text-decoration: underline;
	&:hover {
		color: @vertFonce;
		border-color: @vertFonce;
	}
}

.grandTitre {
	color: @vert;
	font-family: @comfortaaR;
	border-bottom: 1px solid @vert;
	padding-bottom: 0.4em;
	font-size:1.4em;
	display:block;
	width: 19em;
	text-transform: uppercase;

	&:hover {
		color: @vertFonce;
		border-color: @vertFonce;
	}
}

body{
	background-image: url('../img/site/motif5.png');
	background-repeat: repeat;
	color: @vertFonce;
	font-family: @comfortaaT;
	font-size:14px;
}

::selection, ::-moz-selection {
	background-color: #c2dca4;
}

.titre {
	color: @beige;
	font-size: 1.4em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

	input {
		width: 19.9em;
		border: 1px solid @vert;
		border-radius: 5px;
		color: @vert;
		padding-left: 0.5em;
		font-family: @comfortaaR;
	}





/*----------------HEADER---------------*/

#logoIntro {
	clear:both;
	position:relative;
	height:16em;
	margin-top: 2em;

	h1 {
		float: left;
		width: 19.7em;
	}

	h2 {
		font-family: @rochester;
		font-size: 2.1em;
		float:right;
		width:73%;
		text-align:right;
		position: relative;
		top:3.3em; 
	}
}

#menu1 {
	padding-top: 3em;
	overflow:hidden;
	padding-left: 3em;
	width: 19em;
	height: 4.5em;
	float: left;
	position: relative;
	top:7.5em;
	right:-5em;
	box-shadow: 0px 1px 0px rgba(18,50,12,.3);
}

.preMenu {
	display: inline-block;
	width: 8em;
	text-align: center;
	border-radius: 5px;
	background-color: @beige;
	border: 2px solid @vert;
	padding: 1.5em 0.5em 1.5em 0.5em;
	margin: 0em -2em 0 -2em;
	font-family: @comfortaaB;
	position: relative;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);

	&:hover {
		z-index: 10;
		top: -0.2em;
	}

	a {
		color: @vert;
		padding: 1.5em;
	}
}

#panierLogin {
	font-size: 1.25em;
	float: right;
	z-index:5;
	width:12em;
	position: relative;
	top: -1.7em;
	
	a {
		color: @vert;
		font-family: @comfortaaR;

		&:hover {
		color: @vertFonce;
		}
	}
}

#panier {
	background-color: @beige;
	border: 3px solid @vert;
	border-radius: 10px;
	width: 11.7em;
	height: 4em;
	position: relative;
	top: -0.4em;
}

#imgPanier {
	padding: 0.6em;
	height:1.2em;
	margin-top: 0.7em;
	margin-left: 0.6em;
	float: left;
	width: 2em;
	background-image: url('../img/panier.png');
	background-repeat: no-repeat;
	background-size: 56.5px auto;

	&:hover {
		background-image: url('../img/panierHover.png');
	}
}


#infosPanier {
	float: right;
	text-align: right;
	margin-right: 0.6em;
	position: relative;
	top: 1em;
}

#login {

	ul {
		text-align: right;
		width: 12em;
	}

	li {
		display: inline-block;

		+li:hover p {
			visibility: visible;
		}
	}

	p {
		position:absolute;
		font-size: 0.7em;
		width: 19em;
		top: 8.5em;
		right: -0.5em;
		color: @vert;
		visibility: hidden;
	}
}

.seConnecter {
	position: relative;
}

#clicConnecter {
	position: absolute;
	background-color: @vertClair;
	color: @beige;
	top: -1.5em;
	right: 14em;
	font-size: 0.9em;
padding: 1.8em 0.5em 0.5em 0.5em;
border-radius: 10px;
border: 3px solid @beige;

	label {
		display: block;
		width: 17em;
	}

	input {
		background-color: @beige;
		color: @vertClair;
	}

	button {
		color: @vertClair;
background-color: @beige;
border: 1px solid @vertClair;
border-radius: 2px;
cursor: pointer;
font-family: @comfortaaR;
&:hover {
	color: @beige;
background-color: @vertClair;
border: 1px solid @beige;
}
	}
}

#accueilRecherche {
	clear:both;
}

#imgAccueil {
	float:left;
	width:3em;

	a {
		display: inline-block;
		height: 2.7em;
	}
}

#recherche {
	float:right;
	width:20.4em;
	text-align:right;

	.ui-widget {
		margin-bottom: 0.4em;
	}

	form {
		display:inline;
	}

	input {
		background-color: @beige;
		border: 2px solid @vert;
		border-radius: 20px;
		padding-left: 2em;
		font-size: 1.1em;
		background-image: url('../img/loupe.png');
		background-repeat: no-repeat;
		background-size: 20px auto;
		background-position: 7px 4px;
		height: 1.7em;
		width: 11em;
	}

	button {
		color: @beige;
		font-family: @comfortaaR;
		background-color: @vert;
		border-radius: 3px;
		border-style: none;
		font-size: 1.6em;
		cursor: pointer;

		&:hover, &:active{
			color: @vert;
			background-color: @beige;
		}
	}
}


nav {
	clear:both;

	h3 {
		color: @beige;
		padding-top:4.5em;
		background-repeat: no-repeat;
		background-size:auto 54px;
		background-position: center center;
	}

	ul {
		position:relative;
		margin-bottom: 0.7em;
	}
}

.lienNav {
	font-size: 1.25em;
	font-family: @comfortaaR;
	background-color: @vert;
	border-radius: 7px;

	display: inline-block;
	width: 7.7em;
	padding-bottom: 1em;
	text-align: center;
margin-right: 0.39em;
margin-left: 0.39em;

	&:first-child {
		margin-left:0;
	}

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: @beige;
	}

	&:hover h3 {
		color: @vert;
	}
}

.dropdown {
	background-color: @beige;
	position: absolute;
	top:5.8em;
	border-radius:10px;
	text-align: left;
	padding: 1em;
	width:49.2em;
	right:0em;
	z-index: 1;
	height: 19em;
	>ul {
		font-size:0.8em;
		margin:0 auto;
	}
}


#hygiene h3 {
	background-image:url('../img/menu/hygiene.png');

}

#hygiene:hover h3 {
	background-image:url('../img/menuH/hygiene.png');
}

#bienEtre h3 {
	background-image:url('../img/menu/bienEtre.png');
}

#bienEtre:hover h3 {
	background-image:url('../img/menuH/bienEtre.png');
}

#grossesse h3 {
	background-image:url('../img/menu/grossesse.png');
}

#grossesse:hover h3 {
	background-image:url('../img/menuH/grossesse.png');
}

#bebe h3 {
	background-image:url('../img/menu/bebe.png');
}

#bebe:hover h3 {
	background-image:url('../img/menuH/bebe.png');
}

#vetements h3 {
	background-image:url('../img/menu/vetements.png');
}

#vetements:hover h3 {
	background-image:url('../img/menuH/vetements.png');
}

#maison h3 {
	background-image:url('../img/menu/maison.png');
}

#maison:hover h3 {
	background-image:url('../img/menuH/maison.png');
}

#livres h3 {
	background-image:url('../img/menu/livres.png');
}

#livres:hover h3 {
	background-image:url('../img/menuH/livres.png');
}

#divers h3 {
	background-image:url('../img/menu/divers.png');
}

#divers:hover h3 {
	background-image:url('../img/menuH/divers.png');
}

#content .flexslider {
	margin: 0 auto;
	width: 64em;
}

.colonne {
	display:inline-block;
	width: 15.1em;
	vertical-align:top;

	li {
		margin-bottom: 0.1em;
	}

	a {
		color: @vert;
	
		&:hover {
			color: @vertFonce;
		}
	}
}

.titreCategorie {
	font-family: @comfortaaB;
	color: @vert;
	margin: 1em 0 0.2em 0;
	font-size: 1.05em;
	display: block;
	text-transform: uppercase;
	&:hover {
		color: @vertFonce
	}
}


/*----------------FIN HEADER---------------*/

/*----------------CONTENT---------------*/

#infosPrati {
	height:2.9em;
	margin-top: 2em;
	margin-bottom: 2em;

	p {
		float: left;
		width: 12.2em;
		font-size: 0.9em;
		color: @vert;
		font-family: @comfortaaR;
		padding-top: 0.7em;
		padding-left: 4em;
		height:3.5em;
		background-repeat: no-repeat;
		background-size: auto 45px;
		margin: 0 1em 0 1em;

		&:first-child{
			background-image: url('../img/colis.png');
			margin-left: 0;
			padding-left: 4.5em;
		}

		+p{
			background-image: url('../img/cadeau.png');
			padding-left: 3em;
		}

		+p+p{
			background-image: url('../img/euro.png');
			padding-left: 4em;
		}

		&:last-child{
			background-image: url('../img/conseil.png');
			margin-right:0;
		}
	}

}

#promoLiqui {
	height: 17.4em;
	margin-bottom: 3em;

	img {
		border:2px solid #C6564E;
	}
}

#liqui {
	float:right;
	width:15.3em;
	margin-left: 0.5em;
}


#promo {
	float:left;
	width:47.9em;
}

#nouveauxArt, #promosArt, #liquisArt {
	height: 27em;
	margin-top: 2.5em;
	margin-bottom: 3em;

	h2+div {
		margin-top: 3em;
	}
}

.nouvelArt, .promoArt, .liquiArt {
	position:relative;
	float: left;
	width:14em;
	background-color: @vertClair;
	border-radius: 10px;
	padding: 0.5em 0.5em 2em 0.5em;
	text-align: center;
	margin: 0 0.6em 0 0.6em;
	box-shadow:0px 2px 7px #555555;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-out;

	a {
		color: @beige;
	}

	&:hover {
		position: relative;
		top: -0.3em;
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	h3 {
	margin-top: 1em;
	}
}

.prix {
	background-color: @beige;
	display:inline-block;
	height: 55px;
	width:55px;
	border-radius: 55px;
	border: 2px solid @vert;
	position: absolute;
	top: -1.5em;
	right: 11.5em;

	span {
		color: @vert;
		font-family: @comfortaaB;
		font-size: 1.3em;
		position: relative;
		top: 1em;
	}
}

.ajoutPanier {
	float: right;
	position: relative;
	top:1.5em;
	font-family: @comfortaaR;
	background-color: @vert;
	border-radius: 5px 5px 5px 5px;
	padding: 0.7em 0.7em 0.7em 2.7em;
	background-image: url('../img/ajoutPanier.png');
	background-repeat: no-repeat;
	background-size: 34px;
	color: @beige;
	&:hover {
		background-image:url('../img/ajoutPanierHover.png');
	}
}

.voirTout {
	float:right;
	font-size: 1.3em;
	margin-top: 0.5em;
	font-family: @comfortaaR;

}

/*--------INSCRIPTION-------*/

#conteneurIns {
	height: 55em;
}

#inscription {
	background-color: @vertClair;
	border-radius: 10px;
	padding: 1em;
	float: left;
	width: 45.6em;
	margin-right: 0.6em;
	margin-bottom: 3em;
}

#formIns {
	fieldset {
		background-color: @beige;
		border-radius: 10px;
		padding: 1em;
		margin-bottom: 1em;
	}

	p {
		margin: 0.5em 0 0.5em 0;
	}
	h3 {
		color: @vert;
		font-family: @comfortaaR;
		font-size: 1.2em;
		margin-bottom: 0.6em;
	}
	label {
		width: 13em;
		padding-right: 1em;
		display: inline-block;
		text-align: right;
	}
	button{
		font-family: @comfortaaR;
		text-transform: uppercase;
		color: @vert;
		background-color: @beige;
		padding: 0.4em;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		font-size: 1.5em;
		float: right;
		&:hover,&:active,&:focus {
			color: @beige;
			background-color: @vert;
		}	
	}
	select{
		border-radius: 5px;
		font-family: @comfortaaR;
		color: @vert;
	}
	#news {
		display: inline-block;
		width: 1em;
	}

	>p{
		color: @beige;
	}
}


#infosPaiement {
	float: left;
	width: 13em;
	margin-left: 0.5em;
	background-color: @vertClair;
		border-radius: 10px;
		padding: 1em;
	h1 {
		color: @beige;
		font-size: 1.4em;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
}


/*--------FICHE PRODUIT-------*/
.breadcrumb {
	background-color: @beige;
	padding: 0.6em;
	font-size: 1.3em;
}


#ficheProduit {
	display:table;
	margin-top: 3em;
}

.imagesFiche {
	width: 20.6em;
	float:left;
	margin-right: 1em;
	img {
		width: 20.6em;
	}
}

.infosFiche {

	margin-bottom: 3em;

	.fn {		
		font-family: @comfortaaR;		
		font-size: 2.3em;		
	}

	.brand {
		font-size: 1.5em;
		color: @vert;
		font-family: @comfortaaB;
		text-transform: uppercase;
	}

	.prixProduit {
		display: block;
		font-family: @comfortaaR;
		font-size: 1.8em;
		color: @vertFonce;
		clear: right;
	}

	.description {
		margin-top: 1em;
		font-size: 1.1em;
		font-family: @comfortaaR;
		line-height: 1.3em;

		li {
			background-image: url('../img/check.png');
			background-repeat: no-repeat;
			padding-left: 1.5em;
			background-size: 15px;
		}
	}

	.ajoutPanier {
		font-size: 1.4em;
		background-size: 47px;
		top: 0em;
		float: left;
	}

	.ajoutAchats {
		background-image: url('../img/listeAchats.png');
		background-repeat: no-repeat;
		background-size: 30px;
        font-size: 1.3em;
        padding: 0.5em 0em 0.5em 2em;
		background-position: 0px 5px;
}
	

	.recommander {
		font-size: 1.3em;
		background-image: url('../img/recommander.png');
		background-repeat: no-repeat;
		background-size: 30px;
		padding: 0.5em 0em 0.5em 2em;
		background-position: 0px 5px;
	}
}

.articlesSimilaires {

ul {
	margin-top: 1em;
}


li {
	display: inline;
	margin: 0em 0.56473em 0em 0.56473em;

	&:last-child {
		margin-right: 0em;
	}

	&:first-child {
		margin-left: 0em;
	}
}
}

.voirPlus {
	font-family: @comfortaaR;
	font-size: 1.3em;
	float: right;
	margin-top: 1em;
}

.accessoire {
	font-family: @comfortaaT;
	font-size: 1.1em;
	float: right;
	margin-top: 1em;
}



.details {

	width: 20.6em;

	li {
		width: 6.9em;
		display:inline-block;
		margin-right: 1em;

		&:nth-child(3),&:nth-child(6){
			margin-right: 0;
		}

		img {
			width: 6.9em;
			height: auto;
		}
	}
}

.produit .ajoutPanier img {
	width: 15em;
	height:auto;
}

#quantite {
	width: 3em;
}

.actions {
	clear: right;
	margin-top: 6em;
	a:first-child {
		margin-right: 5.2em;
	}
	a:last-child {
		margin-left: 5.2em;
	}
}

/*--------FIN FICHE PRODUIT-------*/

/*--------GRANDE CATEGORIE PRODUIT-------*/

#grandeCategorie {
	margin-top: 1em;

	header {
	border-bottom: 2px dashed @vert;
	padding-bottom: 0.7em;
	margin-bottom: 1em;
}
}

.imgCategorie {
	float: left;
	margin-right: 1.3em;
}

#infoGrandeCategorie {
	padding-top: 1.1em;


	h3 {
		font-family: 'ComfortaaRegular';
		font-size: 2.3em;
	}
	p {
		font-size: 1.1em;
		font-family: 'ComfortaaRegular';
	}
}

.produitsCat {
	position:relative;
	display: inline-block;
	width:14em;
	background-color: @vertClair;
	border-radius: 10px;
	padding: 0.5em 0.5em 2em 0.5em;
	text-align: center;
	margin: 0 0.515em 0 0.515em;
	box-shadow:0px 2px 7px #555555;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-out;
	vertical-align: top;
	margin-bottom: 3em;

	a {
		color: @beige;
	}

	&:hover {
		position: relative;
		top: -0.3em;
	}

	&:first-child, &:nth-child(5), &:nth-child(9), &:nth-child(13) {
		margin-left: 0;
	}

	&:last-child, &:nth-child(4), &:nth-child(8), &:nth-child(12)  {
		margin-right: 0;
	}
		h4 {
		color: @beige;
	}

	h3 {
		height: 3em;
	}
}

.choix {
display: inline-block;
width: 12.4em;
text-align: center;
border-radius: 5px;
background-color: @beige;
border: 2px solid @vert;
padding: 1em 0.5em 1em 0.5em;
margin: 0em 0.9em 3em 0em;
font-family: 'ComfortaaBold';
font-size: 1.1em;
text-transform: uppercase;


	&:hover {
	background-color: @vert;
	border: 2px solid @beige;
	a{
	color: @beige;
	padding: 1.5em;
	}
	}

	a {
		color: @vert;
	}
}

#categorie1 .choix:first-child {
	background-color: @vert;
	border: 2px solid @beige;
	a{
	color: @beige;
	}
}

#categorie2 .choix:nth-child(2) {
	background-color: @vert;
	border: 2px solid @beige;
	a{
	color: @beige;
	}
}


/*--------FIN GRANDE CATEGORIE PRODUIT-------*/

/*--------PANIER-------*/

.pagePanier {

	background-color: @vertClair;
	border-radius: 10px;
	padding: 1em;
	padding-bottom: 3em;
	clear: both;
	position: relative;
	top: 0.5em;

	table {
		background-color: @beige;
border-radius: 10px;
padding: 1em;
margin-bottom: 1em;
width: 61.7em;
font-family: 'ComfortaaRegular';
	}

}

.head {
	color: @vert;
border: none;
font-size: 1.2em;
height: 2em;
}

td {
	padding-top: 0.6em;
}

tr {
	height: 5.5em;
	border-bottom: 2px dashed @vert;
	&:last-child {
		border:none;
	}
}

.tdA {
	padding-left: 1em;
	img {
		float: left;
		margin-right: 1em;
	}
}

.panierActions {
margin-top: 1em;
margin-bottom: 1.3em;

 a {
	background-color: @beige;
border: 2px solid @vertClair;
font-family: @comfortaaR;
border-radius: 5px;
color: @vertClair;
font-size: 1.6em;
padding: 0.3em;
float:left;

&:hover {
	color: @beige;
	background-color: @vertClair;
	border: 2px solid @beige;
}

+a {
	background-image: url('../img/fleche.png');
background-repeat: no-repeat;
background-size: 30px;
background-position: 137px;
padding-right: 2em;
float:right;

&:hover {
	background-image: url('../img/flecheH.png');
}
}

}
}
.panierTotal {
	font-size: 1.6em;
text-transform: uppercase;
color: @beige;
font-family: @comfortaaB;
float: right;
}

/*--------FIN PANIER-------*/


/*---------COMMANDER-----------*/


.commander {

padding-bottom: 3em;
margin-top: 3em;
height: 13em;

section {
	background-color: @vertClair;
	border-radius: 10px;
	padding: 1em;
	width: 29.4em;
	}
	input {
	width: 14em;
	}
	label {
	display: block;
	}
	form {
		background-color: @beige;
		border-radius: 10px;
		padding: 1em;
		margin-bottom: 1em;
		text-align: right;
	}

	a {
		display: block;
	}

}
.pasInscrit {
	float:left;
}

.inscrit {
	float: right;

}


.etape {
	color: @vert;
	font-size: 1.65em;
	display: inline-block;
	&:first-child {
		color: @vertFonce;
	}

}


div[class^="commander"] {

button {
		color: @beige;
		background-color: @vertClair;
		border: 1px solid @beige;
		border-radius: 4px;
		padding: 0.3em;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 0.8em;
		&:hover {
			color: @vertClair;
			background-color: @beige;
			border: 1px solid @vertClair;
		}
	}
		>ul:first-child {
		margin-bottom: 1em;
		border-bottom: 2px dashed @vert;
		padding-bottom: 0.7em;
	}
}

input[type="checkbox"]{
	width: 3em;
}

/*---------FIN COMMANDER---------*/

.commander2, .commander3, .commander4 {

	>div {
background-color: @vertClair;
border-radius: 10px;
padding: 1em;
margin-right: 0.6em;
margin-bottom: 3em;
}

form {
	background-color: @beige;
	border-radius: 10px;
	padding: 1em;
	margin-bottom: 1em;
}
}

.mode {
	color: @vert;
	font-family: 'ComfortaaRegular';
	font-size: 1.35em;
	margin-bottom: 0.6em;
}

.clicPlusInfos {
	display: block;
	cursor: pointer;
	color: @vert;
	text-decoration: underline;
	margin: 0.4em 0em 0.4em 0em;
	&:hover {
		color: @vertFonce;
	}
}

.plusInfos {
	margin-bottom: 1em;
	border-bottom: 2px dashed @vert;
	li {
		background-image: url('../img/check.png');
		background-repeat: no-repeat;
		padding-left: 1.5em;
		background-size: 15px;
		margin: 0.5em 0 0.5em 0;
	}
}

.listeLabel>li {
	border-bottom: 1px dashed #68913a;
	padding: 0.5em 0 0.5em 0;
}


.adresseLiv {	
		font-size: 1.3em;
		margin-bottom: 0.8em;
	
	span {
		display: block;
	}
}
/*--------FIN CONTENT-------*/


/*--------FOOTER-------*/
footer {
	clear:both;
	background-color: @beige;
	margin-top: 8em;
	background-image: url('../img/site/footer.png');
	background-repeat: repeat-x;
}

#contenuFooter {
	padding-top:3em;
	position: relative;
}

#hautPage {
	position: absolute;
	top: -5em;
	right: -8em;
}

#rappelLogo {
	float: left;
	width: 15em;
	position: relative;
	top: 1em;
}

#listesFooter {
	float: right;
	width:48em;
	color: @vert;
	
	a {
	color: @vert;
	
		&:hover {
			color: @vertFonce;
		}
	}

	h4 {
		font-size: 1.4em;
		font-family: @comfortaaB;
		text-transform: uppercase;
		margin-bottom: 0.2em;
	}
}

.listeFooter {
	display: inline-block;
	width: 15em; 
	vertical-align: top;
	margin: 0 0.5em 0 0.5em;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
	margin-right: 0;
	}
}

.fn {
	font-size: 1.1em;
	margin-bottom: 0.2em;
}

.postal-code, .locality {
	display: inline-block;
}

.email {
	background: url('../img/sprite.png') no-repeat -379px -206px;
	background-size: 422px 338px;
	width: 21px;
	height: 15px;
	padding-left: 1.8em;

}

.country-name + li {
	margin-top: 1em;
}

#copyright {
	clear: both;
	background-color: rgba(136,170,92,.7);
	padding: 0.4em;

	ul {
		text-align: right;
	}

	li {
		display: inline-block;
		margin: 0 2em 0 2em;

		&:first-child {
			margin-left:0;
		}

		&:last-child {
			margin-right:0;
		}
	}
}

/*--------FIN FOOTER-------*/