/************************************************
/* RESET MEYER
************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/************************************************
/* FIN RESET MEYER
************************************************/
@font-face {
  font-family: 'ComfortaaThin';
  src: url('../fonts/Comfortaa_Thin-webfont.eot');
  src: url('../fonts/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa_Thin-webfont.woff') format('woff'), url('../fonts/Comfortaa_Thin-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComfortaaRegular';
  src: url('../fonts/Comfortaa_Regular-webfont.eot');
  src: url('../fonts/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa_Regular-webfont.woff') format('woff'), url('../fonts/Comfortaa_Regular-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComfortaaBold';
  src: url('../fonts/Comfortaa_Bold-webfont.eot');
  src: url('../fonts/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'), url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'), url('../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RochesterRegular';
  src: url('../fonts/Rochester-Regular-webfont.eot');
  src: url('../fonts/Rochester-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Rochester-Regular-webfont.woff') format('woff'), url('../fonts/Rochester-Regular-webfont.ttf') format('truetype'), url('../fonts/Rochester-Regular-webfont.svg#RochesterRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*----------------GENERAL---------------*/
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.outliner {
  display: none;
}
.centrer {
  width: 63.75em;
  margin: auto;
}
.lien {
  color: #68913a;
  text-decoration: underline;
}
.lien:hover {
  color: #12320c;
  border-color: #12320c;
}
.grandTitre {
  color: #68913a;
  font-family: 'ComfortaaRegular';
  border-bottom: 1px solid #68913a;
  padding-bottom: 0.4em;
  font-size: 1.4em;
  display: block;
  width: 19em;
  text-transform: uppercase;
}
.grandTitre:hover {
  color: #12320c;
  border-color: #12320c;
}
body {
  background-image: url('../img/site/motif5.png');
  background-repeat: repeat;
  color: #12320c;
  font-family: 'ComfortaaThin';
  font-size: 14px;
}
::selection,
::-moz-selection {
  background-color: #c2dca4;
}
/*----------------HEADER---------------*/
#logoIntro {
  clear: both;
  position: relative;
  height: 16em;
  margin-top: 2em;
}
#logoIntro h1 {
  float: left;
  width: 19.7em;
}
#logoIntro h2 {
  font-family: 'RochesterRegular';
  font-size: 2.1em;
  float: right;
  width: 73%;
  text-align: right;
  position: relative;
  top: 3.3em;
}
#menu1 {
  padding-top: 3em;
  overflow: hidden;
  padding-left: 3em;
  width: 19em;
  height: 4.5em;
  float: left;
  position: relative;
  top: 7.5em;
  right: -5em;
  box-shadow: 0px 1px 0px rgba(18, 50, 12, 0.3);
}
.preMenu {
  display: inline-block;
  width: 8em;
  text-align: center;
  border-radius: 5px;
  background-color: #ecf5e3;
  border: 2px solid #68913a;
  padding: 1.5em 0.5em 1.5em 0.5em;
  margin: 0em -2em 0 -2em;
  font-family: 'ComfortaaBold';
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.preMenu:hover {
  z-index: 10;
  top: -0.2em;
}
.preMenu a {
  color: #68913a;
}
#panierLogin {
  font-size: 1.25em;
  float: right;
  z-index: 5;
  width: 12em;
  position: relative;
  top: -1.7em;
}
#panierLogin a {
  color: #68913a;
  font-family: 'ComfortaaRegular';
}
#panierLogin a:hover {
  color: #12320c;
}
#panier {
  background-color: #ecf5e3;
  border: 3px solid #68913a;
  border-radius: 10px;
  width: 11.7em;
  height: 4em;
  position: relative;
  top: -0.4em;
}
#imgPanier {
  padding: 0.6em;
  height: 1.2em;
  margin-top: 0.7em;
  margin-left: 0.6em;
  float: left;
  width: 2em;
  background-image: url('../img/panier.png');
  background-repeat: no-repeat;
  background-size: 56.5px auto;
}
#imgPanier:hover {
  background-image: url('../img/panierHover.png');
}
#infosPanier {
  float: right;
  text-align: right;
  margin-right: 0.6em;
  position: relative;
  top: 1em;
}
#login ul {
  text-align: right;
  width: 12em;
}
#login li {
  display: inline-block;
}
#login li + li:hover p {
  visibility: visible;
}
#login p {
  position: absolute;
  font-size: 0.7em;
  width: 19em;
  top: 8.5em;
  right: -0.5em;
  color: #68913a;
  visibility: hidden;
}
.seConnecter {
  position: relative;
}
#clicConnecter {
  position: absolute;
  background-color: #88aa5c;
  color: #ecf5e3;
  top: -1.5em;
  right: 14em;
  font-size: 0.9em;
  padding: 1.8em 0.5em 0.5em 0.5em;
  border-radius: 10px;
  border: 3px solid #ecf5e3;
}
#clicConnecter label {
  display: block;
  width: 17em;
}
#clicConnecter input {
  background-color: #ecf5e3;
  color: #88aa5c;
}
#clicConnecter button {
  color: #88aa5c;
  background-color: #ecf5e3;
  border: 1px solid #88aa5c;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'ComfortaaRegular';
}
#clicConnecter button:hover {
  color: #ecf5e3;
  background-color: #88aa5c;
  border: 1px solid #ecf5e3;
}
#accueilRecherche {
  clear: both;
}
#imgAccueil {
  float: left;
  width: 3em;
}
#imgAccueil a {
  display: inline-block;
  height: 2.7em;
}
#recherche {
  float: right;
  width: 20.4em;
  text-align: right;
}
#recherche .ui-widget {
  margin-bottom: 0.4em;
}
#recherche form {
  display: inline;
}
#recherche input {
  background-color: #ecf5e3;
  border: 2px solid #68913a;
  border-radius: 20px;
  color: #68913a;
  padding-left: 2em;
  font-family: 'ComfortaaRegular';
  font-size: 1.1em;
  background-image: url('../img/loupe.png');
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 7px 4px;
  height: 1.7em;
}
#recherche button {
  color: #ecf5e3;
  font-family: 'ComfortaaRegular';
  background-color: #68913a;
  border-radius: 3px;
  border-style: none;
  font-size: 1.6em;
  cursor: pointer;
}
#recherche button:hover,
#recherche button:active {
  color: #68913a;
  background-color: #ecf5e3;
}
nav {
  clear: both;
}
nav h3 {
  color: #ecf5e3;
  padding-top: 4.5em;
  background-repeat: no-repeat;
  background-size: auto 54px;
  background-position: center center;
}
nav ul {
  position: relative;
  margin-bottom: 0.7em;
}
.lienNav {
  font-size: 1.25em;
  font-family: 'ComfortaaRegular';
  background-color: #68913a;
  border-radius: 7px;
  display: inline-block;
  width: 7.7em;
  padding-bottom: 1em;
  text-align: center;
  margin-right: 0.39465em;
  margin-left: 0.39464em;
}
.lienNav:first-child {
  margin-left: 0;
}
.lienNav:last-child {
  margin-right: 0;
}
.lienNav:hover {
  background-color: #ecf5e3;
}
.lienNav:hover h3 {
  color: #68913a;
}
.dropdown {
  background-color: #ecf5e3;
  position: absolute;
  top: 5.8em;
  border-radius: 10px;
  text-align: left;
  padding: 1em;
  width: 49em;
  right: 0em;
  z-index: 1;
  height: 19em;
}
.dropdown > ul {
  font-size: 0.8em;
  margin: 0 auto;
}
#hygiene h3 {
  background-image: url('../img/menu/hygiene.png');
}
#hygiene:hover h3 {
  background-image: url('../img/menuH/hygiene.png');
}
#bienEtre h3 {
  background-image: url('../img/menu/bienEtre.png');
}
#bienEtre:hover h3 {
  background-image: url('../img/menuH/bienEtre.png');
}
#grossesse h3 {
  background-image: url('../img/menu/grossesse.png');
}
#grossesse:hover h3 {
  background-image: url('../img/menuH/grossesse.png');
}
#bebe h3 {
  background-image: url('../img/menu/bebe.png');
}
#bebe:hover h3 {
  background-image: url('../img/menuH/bebe.png');
}
#vetements h3 {
  background-image: url('../img/menu/vetements.png');
}
#vetements:hover h3 {
  background-image: url('../img/menuH/vetements.png');
}
#maison h3 {
  background-image: url('../img/menu/maison.png');
}
#maison:hover h3 {
  background-image: url('../img/menuH/maison.png');
}
#livres h3 {
  background-image: url('../img/menu/livres.png');
}
#livres:hover h3 {
  background-image: url('../img/menuH/livres.png');
}
#divers h3 {
  background-image: url('../img/menu/divers.png');
}
#divers:hover h3 {
  background-image: url('../img/menuH/divers.png');
}
.colonne {
  display: inline-block;
  width: 15.1em;
  vertical-align: top;
}
.colonne li {
  margin-bottom: 0.1em;
}
.colonne a {
  color: #68913a;
}
.colonne a:hover {
  color: #12320c;
}
.titreCategorie {
  font-family: 'ComfortaaBold';
  color: #68913a;
  margin: 1em 0 0.2em 0;
  font-size: 1.05em;
  display: block;
  text-transform: uppercase;
}
.titreCategorie:hover {
  color: #12320c;
}
/*----------------FIN HEADER---------------*/
/*----------------CONTENT---------------*/
#infosPrati {
  height: 2.9em;
  margin-top: 2em;
  margin-bottom: 2em;
}
#infosPrati p {
  float: left;
  width: 12.2em;
  font-size: 0.9em;
  color: #68913a;
  font-family: 'ComfortaaRegular';
  padding-top: 0.7em;
  padding-left: 4em;
  height: 3.5em;
  background-repeat: no-repeat;
  background-size: auto 45px;
  margin: 0 1em 0 1em;
}
#infosPrati p:first-child {
  background-image: url('../img/colis.png');
  margin-left: 0;
  padding-left: 4.5em;
}
#infosPrati p + p {
  background-image: url('../img/cadeau.png');
  padding-left: 3em;
}
#infosPrati p + p + p {
  background-image: url('../img/euro.png');
  padding-left: 4em;
}
#infosPrati p:last-child {
  background-image: url('../img/conseil.png');
  margin-right: 0;
}
#promoLiqui {
  height: 17.4em;
  margin-bottom: 3em;
}
#promoLiqui img {
  border: 2px solid #C6564E;
}
#liqui {
  float: right;
  width: 15.3em;
  margin-left: 0.5em;
}
#promo {
  float: left;
  width: 47.9em;
}
#nouveauxArt,
#promosArt,
#liquisArt {
  height: 27em;
  margin-top: 2.5em;
  margin-bottom: 3em;
}
#nouveauxArt h2 + div,
#promosArt h2 + div,
#liquisArt h2 + div {
  margin-top: 3em;
}
.nouvelArt,
.promoArt,
.liquiArt {
  position: relative;
  float: left;
  width: 14em;
  background-color: #88aa5c;
  border-radius: 10px;
  padding: 0.5em 0.5em 2em 0.5em;
  text-align: center;
  margin: 0 0.6em 0 0.6em;
  box-shadow: 0px 2px 7px #555555;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
}
.nouvelArt a,
.promoArt a,
.liquiArt a {
  color: #ecf5e3;
}
.nouvelArt:hover,
.promoArt:hover,
.liquiArt:hover {
  position: relative;
  top: -0.3em;
}
.nouvelArt:first-child,
.promoArt:first-child,
.liquiArt:first-child {
  margin-left: 0;
}
.nouvelArt:last-child,
.promoArt:last-child,
.liquiArt:last-child {
  margin-right: 0;
}
.nouvelArt h3,
.promoArt h3,
.liquiArt h3 {
  margin-top: 1em;
}
.prix {
  background-color: #ecf5e3;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 55px;
  border: 2px solid #68913a;
  position: absolute;
  top: -1.5em;
  right: 11.5em;
}
.prix span {
  color: #68913a;
  font-family: 'ComfortaaBold';
  font-size: 1.3em;
  position: relative;
  top: 1em;
}
.ajoutPanier {
  float: right;
  position: relative;
  top: 1.5em;
  font-family: 'ComfortaaRegular';
  background-color: #68913a;
  border-radius: 5px 5px 5px 5px;
  padding: 0.7em 0.7em 0.7em 2.7em;
  background-image: url('../img/ajoutPanier.png');
  background-repeat: no-repeat;
  background-size: 34px;
  color: #ecf5e3;
}
.ajoutPanier:hover {
  background-image: url('../img/ajoutPanierHover.png');
}
.voirTout {
  float: right;
  font-size: 1.3em;
  margin-top: 0.5em;
  font-family: 'ComfortaaRegular';
}
/*--------INSCRIPTION-------*/
#conteneurIns {
  height: 55em;
}
#inscription {
  background-color: #88aa5c;
  border-radius: 10px;
  padding: 1em;
  float: left;
  width: 45.6em;
  margin-right: 0.6em;
}
#inscription h1 {
  color: #ecf5e3;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#formIns fieldset {
  background-color: #ecf5e3;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}
#formIns h3 {
  color: #68913a;
  font-family: 'ComfortaaRegular';
  font-size: 1.2em;
  margin-bottom: 0.6em;
}
#formIns label {
  width: 13em;
  padding-right: 1em;
  display: inline-block;
  text-align: right;
}
#formIns input {
  width: 19.9em;
  border: 1px solid #68913a;
  border-radius: 5px;
  color: #68913a;
  padding-left: 0.5em;
  font-family: 'ComfortaaRegular';
}
#formIns button {
  font-family: 'ComfortaaRegular';
  text-transform: uppercase;
  color: #68913a;
  background-color: #ecf5e3;
  padding: 0.4em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  float: right;
}
#formIns button:hover,
#formIns button:active,
#formIns button:focus {
  color: #ecf5e3;
  background-color: #68913a;
}
#formIns select {
  border-radius: 5px;
  font-family: 'ComfortaaRegular';
  color: #68913a;
}
#formIns #news {
  display: inline-block;
  width: 1em;
}
#formIns > p {
  color: #ecf5e3;
}
#infosPaiement {
  float: left;
  width: 13em;
  margin-left: 0.5em;
  background-color: #88aa5c;
  border-radius: 10px;
  padding: 1em;
}
#infosPaiement h1 {
  color: #ecf5e3;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
/*--------FICHE PRODUIT-------*/
.breadcrumb {
  background-color: #ecf5e3;
  padding: 0.6em;
  font-size: 1.3em;
}
#ficheProduit {
  display: table;
  margin-top: 3em;
}
.imagesFiche {
  width: 20.6em;
  float: left;
  margin-right: 1em;
}
.imagesFiche img {
  width: 20.6em;
}
.infosFiche {
  margin-bottom: 3em;
}
.infosFiche .fn {
  font-family: 'ComfortaaRegular';
  font-size: 2.3em;
}
.infosFiche .brand {
  font-size: 1.5em;
  color: #68913a;
  font-family: 'ComfortaaBold';
  text-transform: uppercase;
}
.infosFiche .prixProduit {
  display: block;
  font-family: 'ComfortaaRegular';
  font-size: 1.8em;
  color: #12320c;
  clear: right;
}
.infosFiche .description {
  margin-top: 1em;
  font-size: 1.1em;
  font-family: 'ComfortaaRegular';
  line-height: 1.3em;
}
.infosFiche .description li {
  background-image: url('../img/check.png');
  background-repeat: no-repeat;
  padding-left: 1.5em;
  background-size: 15px;
}
.infosFiche .ajoutPanier {
  font-size: 1.4em;
  background-size: 47px;
  top: 0em;
  float: left;
}
.infosFiche .ajoutAchats {
  background-image: url('../img/listeAchats.png');
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 1.3em;
  padding: 0.5em 0em 0.5em 2em;
  background-position: 0px 5px;
}
.infosFiche .recommander {
  font-size: 1.3em;
  background-image: url('../img/recommander.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 0.5em 0em 0.5em 2em;
  background-position: 0px 5px;
}
.articlesSimilaires ul {
  margin-top: 1em;
}
.articlesSimilaires li {
  display: inline;
  margin: 0em 0.56473em 0em 0.56473em;
}
.articlesSimilaires li:last-child {
  margin-right: 0em;
}
.articlesSimilaires li:first-child {
  margin-left: 0em;
}
.voirPlus {
  font-family: 'ComfortaaRegular';
  font-size: 1.3em;
  float: right;
  margin-top: 1em;
}
.accessoire {
  font-family: 'ComfortaaThin';
  font-size: 1.1em;
  float: right;
  margin-top: 1em;
}
.details {
  width: 20.6em;
}
.details li {
  width: 6.9em;
  display: inline-block;
  margin-right: 1em;
}
.details li:nth-child(3),
.details li:nth-child(6) {
  margin-right: 0;
}
.details li img {
  width: 6.9em;
  height: auto;
}
.produit .ajoutPanier img {
  width: 15em;
  height: auto;
}
#quantite {
  width: 3em;
}
.actions {
  clear: right;
  margin-top: 6em;
}
.actions a:first-child {
  margin-right: 5.2em;
}
.actions a:last-child {
  margin-left: 5.2em;
}
/*--------FIN FICHE PRODUIT-------*/
/*--------GRANDE CATEGORIE PRODUIT-------*/
#grandeCategorie {
  margin-top: 3em;
}
#grandeCategorie header {
  border-bottom: 2px dashed #68913a;
  padding-bottom: 0.7em;
  margin-bottom: 1em;
}
.imgCategorie {
  float: left;
  margin-right: 1.3em;
}
#infoGrandeCategorie {
  padding-top: 1.1em;
}
#infoGrandeCategorie h3 {
  font-family: 'ComfortaaRegular';
  font-size: 2.3em;
}
#infoGrandeCategorie p {
  font-size: 1.1em;
  font-family: 'ComfortaaRegular';
}
.produitsCat {
  position: relative;
  display: inline-block;
  width: 14em;
  background-color: #88aa5c;
  border-radius: 10px;
  padding: 0.5em 0.5em 2em 0.5em;
  text-align: center;
  margin: 0 0.515em 0 0.515em;
  box-shadow: 0px 2px 7px #555555;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  vertical-align: top;
  margin-bottom: 3em;
}
.produitsCat a {
  color: #ecf5e3;
}
.produitsCat:hover {
  position: relative;
  top: -0.3em;
}
.produitsCat:first-child,
.produitsCat:nth-child(5),
.produitsCat:nth-child(9),
.produitsCat:nth-child(13) {
  margin-left: 0;
}
.produitsCat:last-child,
.produitsCat:nth-child(4),
.produitsCat:nth-child(8),
.produitsCat:nth-child(12) {
  margin-right: 0;
}
.produitsCat h4 {
  color: #ecf5e3;
}
.produitsCat h3 {
  height: 3em;
}
.choix {
  display: inline-block;
  width: 12.4em;
  text-align: center;
  border-radius: 5px;
  background-color: #ecf5e3;
  border: 2px solid #68913a;
  padding: 1em 0.5em 1em 0.5em;
  margin: 0em 0.9em 3em 0em;
  font-family: 'ComfortaaBold';
  font-size: 1.1em;
  text-transform: uppercase;
}
.choix:hover {
  background-color: #68913a;
  border: 2px solid #ecf5e3;
}
.choix:hover a {
  color: #ecf5e3;
}
.choix a {
  color: #68913a;
}
#categorie1 .choix:first-child {
  background-color: #68913a;
  border: 2px solid #ecf5e3;
}
#categorie1 .choix:first-child a {
  color: #ecf5e3;
}
#categorie2 .choix:nth-child(2) {
  background-color: #68913a;
  border: 2px solid #ecf5e3;
}
#categorie2 .choix:nth-child(2) a {
  color: #ecf5e3;
}
/*--------FIN GRANDE CATEGORIE PRODUIT-------*/
/*--------PANIER-------*/
#pagePanier {
  background-color: #88aa5c;
  border-radius: 10px;
  padding: 1em;
  padding-bottom: 3em;
}
#pagePanier h1 {
  color: #ecf5e3;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#pagePanier table {
  background-color: #ecf5e3;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  width: 61.7em;
  font-family: 'ComfortaaRegular';
}
.head {
  color: #68913a;
  border: none;
  font-size: 1.2em;
  height: 2em;
}
td {
  padding-top: 0.6em;
}
tr {
  height: 5.5em;
  border-bottom: 2px dashed #68913a;
}
tr:last-child {
  border: none;
}
.tdA {
  padding-left: 1em;
}
.tdA img {
  float: left;
  margin-right: 1em;
}
.panierActions {
  margin-top: 1.3em;
  text-align: right;
}
.panierActions a {
  background-color: #ecf5e3;
  border: 2px solid #88aa5c;
  font-family: 'ComfortaaRegular';
  border-radius: 5px;
  color: #88aa5c;
  font-size: 1.6em;
  padding: 0.3em;
}
.panierActions a:hover {
  color: #ecf5e3;
  background-color: #88aa5c;
  border: 2px solid #ecf5e3;
}
.panierTotal {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #ecf5e3;
  font-family: 'ComfortaaBold';
  float: right;
}
/*--------FIN PANIER-------*/
/*--------FIN CONTENT-------*/
/*--------FOOTER-------*/
footer {
  clear: both;
  background-color: #ecf5e3;
  margin-top: 8em;
  background-image: url('../img/site/footer.png');
  background-repeat: repeat-x;
}
#contenuFooter {
  padding-top: 3em;
  position: relative;
}
#hautPage {
  position: absolute;
  top: -5em;
  right: -8em;
}
#rappelLogo {
  float: left;
  width: 15em;
  position: relative;
  top: 1em;
}
#listesFooter {
  float: right;
  width: 47.45em;
  color: #68913a;
}
#listesFooter a {
  color: #68913a;
}
#listesFooter a:hover {
  color: #12320c;
}
#listesFooter h4 {
  font-size: 1.4em;
  font-family: 'ComfortaaBold';
  text-transform: uppercase;
  margin-bottom: 0.2em;
}
.listeFooter {
  display: inline-block;
  width: 15em;
  vertical-align: top;
  margin: 0 0.5em 0 0.5em;
}
.listeFooter:first-child {
  margin-left: 0;
}
.listeFooter:last-child {
  margin-right: 0;
}
.fn {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}
.postal-code,
.locality {
  display: inline-block;
}
.email {
  background: url('../img/sprite.png') no-repeat -379px -206px;
  background-size: 422px 338px;
  width: 21px;
  height: 15px;
  padding-left: 1.8em;
}
.country-name + li {
  margin-top: 1em;
}
#copyright {
  clear: both;
  background-color: rgba(136, 170, 92, 0.7);
  padding: 0.4em;
}
#copyright ul {
  text-align: right;
}
#copyright li {
  display: inline-block;
  margin: 0 2em 0 2em;
}
#copyright li:first-child {
  margin-left: 0;
}
#copyright li:last-child {
  margin-right: 0;
}
/*--------FIN FOOTER-------*/